*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/sonarlint/issuestore/1/3/1356cba0dc2e739f2a673b73f573161ccb918396
.idea/sonarlint/issuestore/c/a/ca400ae625db6fb76355938e57c92124ba14e791
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/securityhotspotstore/1/3/1356cba0dc2e739f2a673b73f573161ccb918396
.idea/sonarlint/securityhotspotstore/c/a/ca400ae625db6fb76355938e57c92124ba14e791
.idea/sonarlint/securityhotspotstore/index.pb
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/securityhotspotstore/index.pb
